:root {
    --body-bg-color: #8ED9C0;
    --board-width: 500px;
    --board-height: var(--board-width);
    --board-limit-color: rgb(20, 53, 54);
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: var(--body-bg-color);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.game{
    margin: auto;
    width: var(--board-width);
    height: var(--board-height);
    display: flex;
    flex-wrap: wrap;
}

.bloco{
    width: calc(100%/3);
    height: calc(100%/3);
    border: 5px solid var(--board-limit-color);
    color: rgb(65, 65, 65);
    font-size: 8em;
    font-family: arial;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco:nth-child(1){
    border-left: none;
    border-top: none;
}
.bloco:nth-child(2){
    border-top: none;
}
.bloco:nth-child(3){
    border-right: none;
    border-top: none;
}
.bloco:nth-child(4){
    border-left: none;
}
.bloco:nth-child(6){
    border-right: none;
}
.bloco:nth-child(7){
    border-left: none;
    border-bottom: none;
}
.bloco:nth-child(8){
    border-bottom: none;
}
.bloco:nth-child(9){
    border-right: none;
    border-bottom: none;
}

.winner{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 70, 50, 0.876);
    text-shadow: 6px 3px 10px rgb(66, 66, 66);
    justify-content: center;
    align-items: center;
}

.winner p {
    font-family: sans-serif;
    border-radius: 5px;
    background-color: rgb(8, 144, 168);
    width: 60vw;
    padding: 20px;
    font-size: 3em;
    color: white;
    text-align: center;
}